img{
    width: 30%;
}
.footer-items_list a,
.header-items_list a{
    text-decoration: none;
    color: white;
}

.footer-items_list a:hover,
.footer-items_list a:active{
    background-color: aqua;
    padding: 6px;
    color: rgb(128, 123, 123);
}
.header-items{
    background-color: purple;
    padding: 20px;
}
.logo{
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
    text-shadow: 10px -10px 25px rgb(218, 89, 228);
}
.header{
    background-color: black;
    padding: 10px;
}
/* .header-items_list a:hover,
.header-items_list a:active{
    padding: 6px;
    color: white;
} */
.header-items_list:hover{
    background-color: black;
    box-shadow: none;
}
.header-items_list{
  box-shadow: 10px 10px 20px black;
  border-radius: 6px;
  background-color: rgb(213, 90, 224);
}

.footer-items_list,.header-items_list{
    display: inline;
    padding: 10px;
    margin: 15px;
    font-size: 1.5rem;
}
.footer-items{
    background-color: rgb(148, 139, 139);
    padding: 20px;
    width: 100%;
}
.prod-item, .cart{
    background-color: rgb(104, 184, 90);
    width: 60%;;
    margin: 10px auto;
    padding: 10px;
}
.prod-list{
    background-color: lightBlue;
}
.cart{
    background-color: rgb(145, 71, 194);
}
.cart button{
    background-color:rgb(126, 211, 126);
    color: rgb(51, 49, 49);
    outline: none;
}