img{
    width: 30%;
}
.footer-items_list a{
    text-decoration: none;
    color: white;
}

.footer-items_list a:hover,
.footer-items_list a:active{
    background-color: aqua;
    padding: 6px;
    color: rgb(128, 123, 123);
}
.footer-items_list{
    display: inline;
    padding: 10px;
    margin: 15px;
    font-size: 1.5rem;
}
.footer-items{
    background-color: black;
    padding: 20px;
    width: 100%;
}
.prod-item, .cart{
    background-color: rgb(104, 184, 90);
    width: 60%;;
    margin: 10px auto;
    padding: 10px;
}
.prod-list{
    background-color: lightBlue;
}
.cart{
    background-color: rgb(145, 71, 194);
}
.cart button{
    background-color:rgb(126, 211, 126);
    color: rgb(51, 49, 49);
    outline: none;
}